spring:
  profiles:
    active: ${ENVIRONMENT:local}
  application:
    name: bank
  datasource:
    url: jdbc:postgresql://localhost:5432/bank
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8082
