spring:
  application:
    name: bank
  datasource:
    url: jdbc:postgresql://localhost:5432/bank
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
server:
  port: 8082
