apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: keycloak/keycloak:26.5
          imagePullPolicy: "IfNotPresent"
          args:
            - "start-dev"
            - "--db-url=${JDBC_URL}"
            - "--db=${DB_VENDOR}"
            - "--db-username=${DB_USER}"
            - "--db-password=${DB_PASSWORD}"
          envFrom:
            - configMapRef:
                name: keycloak-config

          ports:
            - name: service
              containerPort: 8080

