spring:
  application:
    name: central-bank
  datasource:
    url: jdbc:postgresql://localhost:5432/centralbank
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8083
