spring:
  application:
    name: clearing-service
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/clearing}
    username: ${DATABASE_USER:petunia}
    password: ${DATABASE_PASSWORD:petunia}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
server:
  port: 8082
management:
  endpoints:
    web:
      exposure:
        include: health,info
