spring:
  application:
    name: villadiana
  autoconfigure:
    exclude: org.springframework.boot.data.redis.autoconfigure.DataRedisAutoConfiguration
  profiles:
    default: prod
  session:
    store-type: redis
    redis:
      namespace: petunia:session
    timeout: 30m
  jackson:
    property-naming-strategy: SNAKE_CASE
  data:
    redis:
      host: localhost
      password: password
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:https://auth.roskenet.de/realms/petunia}
            token-uri: ${KEYCLOAK_TOKEN_URI:https://auth.roskenet.de/realms/petunia/protocol/openid-connect/token}
        registration:
          keycloak:
            client-id: villadiana
            client-secret: ${KEYCLOAK_SECRET:miqtl8qIoEuLXXEOzvDmwP63xFWXaNje}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
            provider: keycloak


app:
  security:
    allowed-origin-patterns:
      - http://alpicola
      - https://petunia.roskenet.de
    post-logout-redirect-uri: https://petunia.roskenet.de
    default-login-success-url: https://petunia.roskenet.de/petunias

server:
  forward-headers-strategy: framework

management:
  endpoints:
    web:
      exposure:
        include: health,info
