spring:
  session:
    store-type: redis
    redis:
      namespace: petunia:session
    timeout: 30m
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI:https://auth.roskenet.de/realms/petunia}
            token-uri: ${KEYCLOAK_TOKEN_URI:https://auth.roskenet.de/realms/petunia/protocol/openid-connect/token}
        registration:
          keycloak:
            client-id: villadiana
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            scope: openid,profile,email
            provider: keycloak

  endpoints:
    web:
      exposure:
        include: health
