spring:
  application:
    name: exchange
  datasource:
    url: jdbc:postgresql://localhost:5432/exchange
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8081
